<div class="main-foot">
	<div class="row">
    <div class="columns small-12 medium-12 large-12">
        <div class="main-foot-inner">

        </div>
  	</div>
	</div>
</div>

<!--  SLICK NAV -->
<script src="../js/jquery.min.js"></script>
<script src="../js/foundation.min.js"></script>
<script src="https://d2i2zd9axwkr7h.cloudfront.net/company/sites/145182/js/jquery.slicknav.min.js"></script>
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->

<script> 
    jQuery('#cosearch input[type=text]').each(function(){
        jQuery(this).prop('placeholder', 'Keyword Search');
    });
</script>

 <script>
     $(function(){
         $('#menu').slicknav();
     });
 </script>